<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SuperSite</title>
</head>

<body>
    <h1>Value = {{.}} double = {{. | fdbl}}</h1>
    <h1>Square {{. | fdbl | fsq}}</h1>
    <h1>Square root {{. | fdbl | fsq | fsqrt}}</h1>
</body>

</html>