<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SuperSite</title>
</head>

<body>
    <ul>
        <!-- uc and ft are the functions globally added to templates -->
        <li>{{uc .Name}} destroyed by {{ft .DestroyedBy}}</li> 
    </ul>
</body>

</html>