<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SuperSite</title>
</head>

<body>
    <ul>
        <li>{{.Name}} destroyed by {{.DestroyedBy}}</li>
    </ul>
</body>

</html>