<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SuperSite</title>
</head>

<body>
    {{$wisdom := .}}
    <h1>Something in a variable -> {{$wisdom}}</h1>
</body>
</html>